# Copier en .env pour docker-compose (optionnel, valeurs par défaut dans docker-compose.yml)

DB_HOST=db
DB_PORT=3306
DB_NAME=vite_et_gourmand
DB_USER=vg_user
DB_PASSWORD=vg_pass

MONGO_URI=mongodb://mongo:27017
MONGO_DATABASE=vite_et_gourmand
MONGO_COLLECTION=commandes_stats

SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASS=
MAIL_FROM=contact@vite-et-gourmand.fr
MAIL_FROM_NAME=Vite & Gourmand
